# Auto detect text files and perform LF normalization
* text=auto

# The above will handle LF normalization for all files by default, but below are
# some examples of how to override this behavior for specific file types

# Source code files
*.py text eol=lf
*.js text eol=lf
*.css text eol=lf
*.html text eol=lf
*.json text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.txt text eol=lf

# These files are text and should be normalized (Convert crlf => lf)
*.gitattributes text
.gitignore text
*.gitconfig text

# Windows batch files should use crlf
*.bat text eol=crlf
*.cmd text eol=crlf

# Binary files
# (binary is a macro for -text -diff)
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.mov binary
*.mp4 binary
*.mp3 binary
*.flv binary
*.fla binary
*.swf binary
*.gz binary
*.zip binary
*.7z binary
*.ttf binary
*.eot binary
*.woff binary
*.woff2 binary
*.pyc binary
*.pdf binary
*.exe binary
*.so binary
*.dll binary

# Linguist overrides for GitHub language detection
*.html linguist-detectable=true
*.js linguist-detectable=true
*.css linguist-detectable=true
*.py linguist-detectable=true
static/* linguist-vendored=false
templates/* linguist-vendored=false
